<PentoWeb.SurveyLive.Component.hero content="Survey">
  Please fill out our survey
</PentoWeb.SurveyLive.Component.hero>

<%= if @demographic do %>
  <PentoWeb.DemographicLive.Show.details demographic={@demographic} />
<% else %>
  <.live_component
    module={PentoWeb.DemographicLive.Form}
    id="demographic-form"
    current_user={@current_user}
  />
<% end %>
